<div class="background-color-wrapper">
  <h3>How Many Baked Potatoes Would You Like ?</h3>
</div>
<div class="input-group">
  <textarea
    [(ngModel)]="order.bakedPotatoInstructions"
    [ngClass]="{
      'is-invalid': menuPotatoSelector.errors && menuPotatoSelector.touched
    }"
    name="BakedPotatoInstructions"
    #menuPotatoSelector="ngModel"
    class="form-control"
    id="exampleFormControlTextarea1"
    rows="3"
    placeholder="How Many Would You Like?"
    [class.bg-success]="order.bakedPotatoInstructions"
    required
  ></textarea>

  <div [hidden]="!menuPotatoSelector.errors?.required" class="invalid-feedback">
    <div class="background-color-wrapper">
      <div class="background-color-wrapper">
        <h3>How many potatoes would you like ?</h3>
      </div>
    </div>
  </div>
</div>
