<div class="background-color-wrapper">
  <h3>How Many Baked Potatoes Would You Like ?</h3>
</div>
<div class="input-group">
  <input
    [(ngModel)]="order.bakedPotatoInstructions"
    [ngClass]="{
      'is-invalid': menuPotatoSelector.errors && menuPotatoSelector.touched
    }"
    name="BakedPotatoInstructions"
    type="number"
    #menuPotatoSelector="ngModel"
    class="form-control"
    pattern="[0-9]"
    id="exampleFormControlTextarea1"
    rows="3"
    placeholder="Please Pick a Number "
    [class.bg-success]="order.bakedPotatoInstructions"
    required
  />

  <div [hidden]="!menuPotatoSelector.errors?.required" class="invalid-feedback">
    <div class="background-color-wrapper">
      <h3>How many potatoes would you like ?</h3>
    </div>
  </div>
</div>
