<h3>Please Select Your Steak</h3>

<div class="input-group mb-3">
  <select
    [(ngModel)]="order.steakType"
    [ngClass]="{
      'is-invalid': menuSteakSelector.errors && menuSteakSelector.touched
    }"
    #menuSteakSelector="ngModel"
    name="steakType"
    id=""
    class="form-control"
    required
  >
    <option>Porter House</option>
    <option>T-Bone</option>
  </select>

  <select
    [(ngModel)]="order.doneness"
    [ngClass]="{
      'is-invalid':
        menuSteakSelectorDoneness.errors && menuSteakSelectorDoneness.touched
    }"
    #menuSteakSelectorDoneness="ngModel"
    name="doneness"
    id=""
    class="input-group-prepend"
    required
  >
    <option>Rare</option>
    <option>Medium</option>
    <option>Well Done</option>
  </select>

  <select
    [(ngModel)]="order.howManySteaks"
    [ngClass]="{
      'is-invalid':
        menuSteakSelectorAmount.errors && menuSteakSelectorAmount.touched
    }"
    #menuSteakSelectorAmount="ngModel"
    name="HowManySalads"
    class="form-control-prepend"
    id="frieSlectorAmount"
    required
  >
    <option>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
  </select>

  <div
    [hidden]="!menuSteakSelectorAmount.errors?.required"
    class="invalid-feedback"
  >
    <h4>Please Pick A Quantity</h4>
  </div>

  <div [hidden]="!menuSteakSelector.errors?.required" class="invalid-feedback">
    <h4>Please Pick A Steak</h4>
  </div>

  <div
    [hidden]="!menuSteakSelectorDoneness.errors?.required"
    class="invalid-feedback"
  >
    <h5>Please Pick a Doneness</h5>
  </div>
</div>
