<div class="wrapper-menu">
  <div class="btn-wrapper">
    <Button class="btn btn-success btn-lg mb-3" (click)="showBurgers()">
      Burgers
    </Button>
    <Button class="btn btn-lg btn-success mb-3" (click)="showSteaks()">
      Steaks
    </Button>
  </div>
</div>

<app-tryme></app-tryme>
<!--  Please select your dinner choices  -->
<form #menuForm="ngForm" (ngSubmit)="onSubmit(menuForm)">
  <div class="card card-body mb3" *ngIf="showBurgersMenu">
    <h3>Select your Burger</h3>
    <div class="form-group">
      <div class="input-group mb-3">
        <select
          [(ngModel)]="order.burgerType"
          [ngClass]="{
            'is-invalid':
              menuBurgerSelector.errors && menuBurgerSelector.touched
          }"
          name="burgerType1"
          #menuBurgerSelector="ngModel"
          class="form-control"
          id="burgerSelector"
          required
        >
          <option>Big Kuhana Burger</option>
          <option>Royal With Cheese</option>
        </select>

        <select
          [(ngModel)]="order.howMany"
          [ngClass]="{
            'is-invalid':
              menuBurgerSelectorAmount.errors &&
              menuBurgerSelectorAmount.touched
          }"
          #menuBurgerSelectorAmount="ngModel"
          name="howManyMains"
          class="form-control-prepend"
          id="burgerSelectorAmount"
          required
        >
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>

        <div
          [hidden]="!menuBurgerSelector.errors?.required"
          class="invalid-feedback"
        >
          <h4>Please Pick a Burger</h4>
        </div>

        <div
          [hidden]="!menuBurgerSelectorAmount.errors?.required"
          class="invalid-feedback"
        >
          <h4>Please Pick a Quantity</h4>
        </div>
      </div>

      <div class="imput-group d-flex justify-content-around mb-3">
        <div class="form-check">
          <input
            [(ngModel)]="order.ketchup"
            name="ketchup"
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Ketchup
          </label>
        </div>

        <div class="form-check">
          <input
            [(ngModel)]="order.mustard"
            name="mustard"
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Mustard
          </label>
        </div>

        <div class="form-check">
          <input
            [(ngModel)]="order.lettuce"
            name="lettuce"
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Lettuce
          </label>
        </div>
        <div class="form-check">
          <input
            [(ngModel)]="order.tomato"
            name="tomato"
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Tomato
          </label>
        </div>
      </div>
    </div>
  </div>

  <!--  The steak Drop downs  -->
  <div class="card card-body mb3" *ngIf="showSteakMenu">
    <h3>Please Select Your Steak</h3>

    <div class="input-group mb-3">
      <select
        [(ngModel)]="order.steakType"
        [ngClass]="{
          'is-invalid': menuSteakSelector.errors && menuSteakSelector.touched
        }"
        #menuSteakSelector="ngModel"
        name="steakType"
        id=""
        class="form-control"
        required
      >
        <option>Porter House</option>
        <option>T-Bone</option>
      </select>

      <select
        [(ngModel)]="order.doneness"
        [ngClass]="{
          'is-invalid':
            menuSteakSelectorAmount.errors && menuSteakSelectorAmount.touched
        }"
        #menuSteakSelectorAmount="ngModel"
        name="doneness"
        id=""
        class="input-group-prepend"
        required
      >
        <option>Rare</option>
        <option>Medium</option>
        <option>Well Done</option>
      </select>
      <div
        [hidden]="!menuSteakSelectorAmount.errors?.required"
        class="invalid-feedback"
      >
        <h4>Please Pick A Quantity</h4>
      </div>

      <div
        [hidden]="!menuSteakSelector.errors?.required"
        class="invalid-feedback"
      >
        <h4>Please Pick A Steak</h4>
      </div>
    </div>
  </div>

  <!--  buttons to select sides in  the menu flow  -->
  <div class="wrapper-menu" *ngIf="showBurgersMenu || showSteakMenu">
    <h3>Please Pick Your Side</h3>
    <div class="btn-wrapper">
      <Button
        *ngIf="showBurgersMenu"
        type="button"
        class="btn btn-success btn-lg mb-3"
        (click)="showFries()"
      >
        Fries
      </Button>
      <Button
        type="button"
        class="btn btn-success btn-lg mb-3"
        (click)="showSalads()"
      >
        Salads
      </Button>
      <Button
        type="button"
        class="btn btn-success btn-lg mb-3"
        (click)="showPotato()"
        *ngIf="showSteakMenu"
      >
        Baked Potato
      </Button>
    </div>
  </div>

  <!--  The fries drop downs  -->
  <div class="card card-body mb3" *ngIf="showBurgersMenu && fries">
    <h3>Can We Large Size Your Fries ?</h3>
    <div class="input-group mb-3">
      <select
        [(ngModel)]="order.nameOfSide"
        name="nameOfSide"
        class="form-control"
        id="friesSelector"
      >
        <option>Large Fries</option>
        <option>Small Fries</option>
      </select>

      <select
        [(ngModel)]="order.amountOfSide"
        name="amountOfSide"
        class="form-control-prepend"
        id="frieSlectorAmount"
      >
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
  </div>

  <!-- Baked Potato drop down options  -->
  <div class="card card-body" *ngIf="potato">
    <h3>How Many Baked Potatoes Would You Like ?</h3>
    <div class="input-group">
      <textarea
        [(ngModel)]="order.bakedPotatoInstructions"
        name="BakedPotatoInstructions"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="How Many Would You Like?"
      ></textarea>
    </div>
  </div>

  <!-- salad drop down options  -->

  <div
    class="card card-body mb3"
    *ngIf="(showBurgers || showSteakMenu) && salads"
  >
    <h3>What Kind Of Salad Would you Like ?</h3>
    <div class="input-group mb-3">
      <select
        [(ngModel)]="order.nameOfSide"
        name="nameOfSalad"
        class="form-control"
        id="friesSelector"
      >
        <option>Garden</option>
        <option>Cesar</option>
      </select>

      <select
        [(ngModel)]="order.dressingType"
        name="dressingType"
        class="form-control-prepend"
        id="frieSlectorAmount"
      >
        <option>Balsamic Dressing</option>
        <option>Caesar Dressing</option>
      </select>
      <select
        [(ngModel)]="order.amountOfSide"
        name="HowManySalads"
        class="form-control-prepend"
        id="frieSlectorAmount"
      >
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>
  </div>

  <div class="card card-body mb-3" *ngIf="showBurgersMenu || showSteakMenu">
    <div class="form-group">
      <h3>Any Special Requests</h3>
      <textarea
        [(ngModel)]="order.specialInstructions"
        name="specialInstructions"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Any special requests?"
      >
      </textarea>
    </div>

    <Button type="submit" class="btn btn-success btn-lg mb-3">
      Submit Your Order
    </Button>
  </div>
</form>

<div class="order-form card card-body" *ngIf="showBurgersMenu || showSteakMenu">
  <h3>Is that everything for you today ?</h3>
  <h3>Your Current Order</h3>
  Order: {{ orderNumber.order }}
  <ul class="list-group">
    <li class="list-group-item">
      Items: {{ order.burgerType }}&nbsp;
      {{ order.ketchup ? "ketchup" : "" }}&nbsp;
      {{ order.mustard ? "Mustard" : "" }}&nbsp;
      {{ order.lettuce ? "Lettuce" : "" }}&nbsp;
      {{ order.tomato ? "Tomato" : "" }}&nbsp;

      {{ order.burgerType || order.SteakType ? "X" : "" }}
      {{ order.amountOfSide }}
      {{ order.steakType }} {{ order.doneness }}
    </li>
    <li class="list-group-item">
      Sides:
      {{ order.nameOfSide }}
      {{ order.dressingType }}
      {{ order.bakedPotatoInstructions ? " Baked Potato X" : "" }}
      {{ order.bakedPotatoInstructions }}
    </li>
  </ul>
</div>
