<div class="wrapper-menu">
  <div class="btn-wrapper">
    <Button class="btn btn-success btn-lg mb-3" (click)="showBurgers()">
      Burgers
    </Button>
    <Button class="btn btn-lg btn-success mb-3" (click)="showSteaks()">
      Steaks
    </Button>
  </div>
</div>

<!--  Please select your dinner choices  -->
<form #menuForm="ngForm" (ngSubmit)="onSubmit(menuForm)">
  <div class="card card-body mb3" *ngIf="showBurgersMenu">
    <app-burgers></app-burgers>
  </div>

  <!--  The steak Drop downs  -->
  <div class="card card-body mb3" *ngIf="showSteakMenu">
    <app-steak></app-steak>
  </div>

  <!--  buttons to select sides in  the menu flow  -->
  <div class="wrapper-menu" *ngIf="showBurgersMenu || showSteakMenu">
    <h3>Please Pick Your Side</h3>
    <div class="btn-wrapper">
      <Button
        *ngIf="showBurgersMenu"
        type="button"
        class="btn btn-success btn-lg mb-3"
        (click)="showFries()"
      >
        Fries
      </Button>
      <Button
        type="button"
        class="btn btn-success btn-lg mb-3"
        (click)="showSalads()"
      >
        Salads
      </Button>
      <Button
        type="button"
        class="btn btn-success btn-lg mb-3"
        (click)="showPotato()"
        *ngIf="showSteakMenu"
      >
        Baked Potato
      </Button>
    </div>
  </div>

  <!--  The fries drop downs  -->
  <div class="card card-body mb3" *ngIf="showBurgersMenu && fries">
    <app-fries></app-fries>
  </div>

  <!-- Baked Potato drop down options  -->
  <div class="card card-body" *ngIf="potato">
    <app-bakedpotato></app-bakedpotato>
  </div>

  <!-- salad drop down options  -->

  <div
    class="card card-body mb3"
    *ngIf="(showBurgers || showSteakMenu) && salads"
  >
    <app-salad></app-salad>
  </div>

  <div class="card card-body mb-3" *ngIf="showBurgersMenu || showSteakMenu">
    <app-specialreq></app-specialreq>
  </div>
</form>

<div class="order-form card card-body" *ngIf="showBurgersMenu || showSteakMenu">
  <h3>Is that everything for you today ?</h3>
  <h3>Your Current Order</h3>
  Order: {{ orderNumber.order }}

  <ul class="list-group">
    <li class="list-group-item">
      {{ order.burgerType }} {{ order.ketchup ? "ketchup" : "" }}&nbsp;
      {{ order.mustard ? "Mustard" : "" }}&nbsp;
      {{ order.lettuce ? "Lettuce" : "" }}&nbsp;
      {{ order.tomato ? "Tomato" : "" }}&nbsp; {{ order.burgerType ? "X" : ""
      }}{{ order.howMany }}
    </li>
    <li class="list-group-item">
      {{ order.steakType }}{{ order.doneness }}
      {{ order.SteakType ? " X" : "" }} {{ order.howManySteaks }}
    </li>
    <li class="list-group-item">
      {{ order.nameOfSide }} {{ order.nameOfSide ? " With" : "" }}
      {{ order.dressingType }}
    </li>
    <li class="list-group-item">
      {{ order.nameOfFries }} {{ order.nameOfFries ? "X " : "" }}
      {{ order.howManyFries }}
    </li>
    <li class="list-group-item">
      {{ order.bakedPotatoInstructions ? " Baked Potato X" : "" }}
      {{ order.bakedPotatoInstructions }}
    </li>
    <li class="list-group-item">
      {{
        order.specialInstructions
          ? "Your Special instructions are important to us will make sure we take care of  "
          : ""
      }}
      {{ order.specialInstructions }}
    </li>
  </ul>
</div>
