@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1) translateY(-3px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.wrapper-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;

  Button {
    margin: 20px;
    animation: bounce 2s ease;
    animation-iteration-count: infinite;
    width: 30%;
    border: beige;
    background-color: rgba(106, 105, 182, 0.671);
  }
}

.card-body {
  background-color: transparent;
}

.background-color-wrapper {
  background-color: whitesmoke;
  opacity: 80%;
  color: black;
}

.background-color-wrapper-special {
  margin: 16px;
  background-color: whitesmoke;
  opacity: 80%;
  color: black;
}

.list-group-item {
  display: flex;
  color: black;
}

@media only screen and (max-width: 768px) {
  Button {
    margin: 20px;
    padding: 15px 10px;
    animation: bounce 2s ease;
    animation-iteration-count: infinite;
    border: beige;
    overflow: hidden;
    background-color: rgba(106, 105, 182, 0.671);
  }
  .card-body {
    background-color: transparent;
    padding: 15px;
    flex-direction: column;
  }
}
